@import "../common/mixin";

/* #cartBox - pc, desktop1, desktop2 */ 
#cartBox {
  // background-color: #a096;
  padding: 100px 30px 150px;
  // h2 {}

  .cart_box_inner {
    // background-color: #10a;
    h3 {
      padding-bottom: 30px;
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
      color: #111;
    }

    .cart_box_con {
      // background-color: #91a;
      .cart_box_list {
        ul.cart_box_list_controller {
          display: flex;
          justify-content: space-between;
          width: 70%;
          padding-bottom: 15px;
          // background-color: #d9a;

          li {
            font-size: 14px;
            color: #4d4d4d;
          }
          li:nth-child(1) {
            label {
              display: flex;
              align-items: center;
              input#checkAll {
                width: 0;
                height: 0;
              }// input#checkAll 
              .check_all_btn {
                width: 25px;
                height: 25px;
                margin-right: 10px;
                // background-color: #eee;
                box-sizing: content-box;
                border: 1px solid #ccc;
                img {
                  width: 25px;
                  height: 25px;
                  padding: 4px;
                  object-fit: contain;
                  // background-color: #111;
                }
              }// .check_all_btn
              span {}
              span.selected_products_count {}// .span.selected_products_count
              span.products_total_count {}// span.products_total_count
            }// label 
          }
          // li:nth-child(2) {}
        }// ul.cart_box_list_controller

        .cart_box_list_con {
          min-height: 300px;
          
          border-top: 1px solid #dadce0;
          border-bottom: 1px solid #dadce0;
          // background-color: #0aa;
          .cart_box_list_initial {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 100px 0;
            p {
              font-size: 14px;
              color: #212121;
            }
            a {
              width: 240px;
              height: 65px;
              margin-top: 15px;
              font-size: 20px;
              font-weight: 400;
              text-align: center;
              line-height: 64px;
              color: #fff;
              background-color: #fea30b;
            }
          }// .cart_box_list_initial
        }// .cart_box_list_con
      }// .cart_box_list

      .cart_box_warning {
        padding-top: 30px;
        ul.warning_detail {
          height: auto;
          min-height: 100px;
          li {
            position: relative;
            padding-bottom: 5px;
            margin-left: 20px;
            font-size: 12px;
            font-weight: 400;
            color: #444444;
          }
          li:last-child {
            padding-bottom: 0;
          }
          li::before {
            position: absolute;
            top: 8px;
            left: -10px;
            display: block;
            content: "";
            overflow: hidden;
            width: 3px;
            height: 3px;
            border-radius: 100%;
            background-color: #444444;
          }
        }
      }// .cart_box_warning
    }// .cart_box_con
  }
}


/* #cartBox - mobile */ 
@include mobile {
  #cartBox {
    // h2 {}
  
    .cart_box_inner {
      h3 {}
  
      .cart_box_con {
        .cart_box_list {
          ul.cart_box_list_controller {
            width: 100%;
            // li {}
            li:nth-child(1) {
              label {
                input#checkAll {}// input#checkAll 
                .check_all_btn {}// .check_all_btn
                span {}
                span.selected_products_count {}// .span.selected_products_count
                span.products_total_count {}// span.products_total_count
              }// label 
            }
            li:nth-child(2) {}
          }// ul.cart_box_list_controller

          .cart_box_list_con {
            .cart_box_list_initial {
              p {}
              a {}
            }// .cart_box_list_initial
          }// .cart_box_list_con
        }
        .cart_box_warning {
          ul.warning_detail {
            // li {}
          }
        }
      }
    }
  }
}


/* #cartBox - tablet */ 
@include tablet {
  #cartBox {
    // h2 {}
  
    .cart_box_inner {
      h3 {}
  
      .cart_box_con {
        .cart_box_list {
          ul.cart_box_list_controller {
            width: 80%;

            // li {}
            li:nth-child(1) {
              label {
                input#checkAll {}// input#checkAll 
                .check_all_btn {}// .check_all_btn
                span {}
                span.selected_products_count {}// .span.selected_products_count
                span.products_total_count {}// span.products_total_count
              }// label 
            }
            li:nth-child(2) {}
          }// ul.cart_box_list_controller

          .cart_box_list_con {
            .cart_box_list_initial {
              p {}
              a {}
            }// .cart_box_list_initial
          }// .cart_box_list_con
        }
        .cart_box_warning {
          ul.warning_detail {
            // li {}
          }
        }
      }
    }
  }
}