@import "../common/mixin";


/* #headBox - pc, desktop1, desktop2 */ 
#headBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: auto;
  height: 95px;
  padding: 0 50px;
  margin: auto;
  margin-top: 10px;

  // background-color: #eee;
  border-bottom: 1px solid #ecedef;

  h1 {
    width: 130px;
    height: 95px;
    background-image: url("../../assets/img/main/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    // background-color: #ead;
    &:hover {
      cursor: pointer;
    }
  }
  .navigation {
    position: relative;

    display: flex;
    // background-color: #eea;
    .gnb_btn {
      display: none;
    }
    .gnb {
      height: 95px;
      padding: 25px 0;
      padding-right: 40px;
      // background-color: #e11;
      ul {
        display: flex;
        justify-content: space-between;
        width: 700px;
        padding-right: 30px;
        color: #333;
        // background-color: #ead;
        li {
          font-size: 18px;
          font-weight: 400;   // 300;400;500;700;900
          line-height: 45px;
          // background-color: #e1a;
          &:hover {
            cursor: pointer;
            font-weight: 500;
            color: $orange;
          }
        }
      }
    }// .gnb 

    .unb {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90px;
      height: 95px;

      // background-color: #ead;
      button {
        width: 40px;
        height: 40px;
        // background-color: #ff3;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &:hover {
          transform: scale(1.05);
        }
      }
      button:nth-child(1) {
        background-image: url("../../assets/img/main/header_member_icon.png");
      }
      button:nth-child(2) {
        position: relative;
        background-image: url("../../assets/img/main/header_cart_icon.png");

        &::before {
          position: absolute;
          top: -2px;
          right: -2px;

          display: block;
          content: "";
          overflow: hidden;
          width: 6px;
          height: 6px;
          border-radius: 6px;
          background-color: #fba30b;
        }
      }
      .modal {
        position: relative;
        position: absolute;
        top: 80px;
        right: 10px;
        z-index: 10;
        width: 120px;
        height: 100px;
        box-shadow: 0px -5px 10px rgba(0, 0, 0 , 0.1);
        text-align: center;
        // box-sizing: border-box;
        border: 1px solid #dbdbdb;
        border-radius: 10px;
        // background-color: #eee;
        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background-color: #fff;
          // background-color: red;
          li {
            height: 30px;
            padding: 5px 0;
            // background-color: #eee;
            line-height: calc((30px - 5px -5px) / 2);
            a {
              display: block;
              width: 100%;
              height: 100%;
              padding: 5px 0;
              font-size: 15px;
              // background-color: #4a1;
            }
          }
        }// ul
        ul::before {
          position: absolute;
          top: -14px;
          left: 50%;
          transform: translate(-50%);
          z-index: 11;
          display: block;
          content: "";
          overflow: hidden;
          width: 20px;
          height: 15px;
          clip-path: polygon(50% 0%, 0 100%, 100% 100%);
          background-color: #fff;
        }
      }// .modal
    }// .unb
  }// .navigation
}





/* #headBox - mobile */ 
@include mobile {
  #headBox {
    // display: flex;
    padding: 0 10px;
    .gnb_btn {
      order: -1;
      display: block;
      width: 50px;
      height: 50px;
      // background-color: #eac;

      background-image: url("../../assets/img/main/gnb_btn.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    } 
    .gnb {
      display: none;
    }
  }
};

/* #headBox - tablet */ 
@include tablet {
  #headBox {
    // display: flex;
    
    h1 {
      // order: 1;
    }
    

    .gnb_btn {
      order: -1;
      display: block;
      width: 50px;
      height: 50px;
      // background-color: #eac;

      background-image: url("../../assets/img/main/gnb_btn.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    } 
    .gnb {
      display: none;
    }
    // .unb {}
  }
};
