@import "../common/mixin";

/* #eachItem - pc, desktop1, desktop2 */ 
#eachItem {
  width: calc((100% - 20px) / 4);
  max-width: 285px;
  height: auto;
  min-height: 500px;
  margin: 0 10px 80px;
  a {
    display: block;
    width: 100%;
    height: 100%;
    .item_inner {
      .item_visual {
        position: relative;
        dl {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          dt {
            width: 100px;
            height: 55px;
            font-size: 15px;
            font-weight: 600;
            text-align: center;
            line-height: 55px;
            color: #fff;
            background-color: #120701;
          }
          dd.discount_rate_tag {
            width: auto;
            min-width: 50px;
            height: 55px;
            font-size: 15px;
            font-weight: 600;
            text-align: center;
            line-height: 55px;
            color: #fff;
            background-color: #fea30b;
          }
        }// dl
        img {
          display: inline-block;
          width: 100%;
          height: 400px;
        }
      }
      .item_detail {
        padding-top: 20px;
        h3 {
          font-size: 20px;
          font-weight: 600;
        }
        .item_detail_con {
          p {
            padding-top: 4px;
            font-size: 15px;
          }
          ul {
            display: flex;
            align-items: center;
            padding-top: 15px;
            li {
              span {
                font-weight: 300;
              }
            }
            li:nth-child(1) {
              padding-right: 10px;
              font-size: 20px;
              font-weight: 600;
              color: #f26615;
            }
            li:nth-child(2) {
              font-size: 15px;
              text-decoration-line: line-through;
            }
          }
        }
      }
    }// .item_inner
  }// a
}



/* #eachItem - mobile */ 
@include mobile {
  #eachItem {
    width: 300px;
    margin: 0;
    margin-bottom: 80px;
    a {
      .item_inner {
        .item_visual {
          dl {
            dt {}
            dd {}
          }// dl
          img {}
        }
        .item_detail {
          h3 {}
          .item_detail_con {
            p {}
            ul {
              li {}
              // li:nth-child(1) {}
              // li:nth-child(2) {}
            }
          }
        }
      }// .item_inner
    }// a
  }
}


/* #eachItem - tablet */ 
@include tablet {
  #eachItem {
    width: 300px;
    a {
      .item_inner {
        .item_visual {
          dl {
            dt {}
            dd {}
          }// dl
          img {}
        }
        .item_detail {
          h3 {}
          .item_detail_con {
            p {}
            ul {
              li {}
              // li:nth-child(1) {}
              // li:nth-child(2) {}
            }
          }
        }
      }// .item_inner
    }// a
  }
}