@import "../common/mixin";

/* #myPageBox - pc, desktop1, desktop2 */ 
#myPageBox {
  padding: 100px 40px;
  padding-bottom: 200px;
  // background-color: #da0;
  display: flex;
  flex-direction: column;
  align-items: center;
  // h2 {}

  .my_page_box_con {
    width: 700px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    h3 {
      width: 100%;
      padding-left: 10px;
      padding-bottom: 30px;
      font-size: 30px;
      font-weight: 500;
      color: #212121;
      // background-color: #06a;
    }// h3

    .membership_information_table {
      // background-color: #d9a;
      table {
        // width: 700px;
        width: 100%;
        border: none;
        color: #212121;
        text-align: center;
        border-top: 1px solid #000;
        // border-bottom: 1px solid #000;
        // caption {}
  
        tbody {
          border: none;
          tr,th, td {
            border: none;
          }
          tr {
            border-bottom: 1px solid #dadce0;
          }
          tr:last-of-type {
            border: none;
          }
          th, td {
            width: 170px;
            padding: 25px 0 25px 40px;
            font-size: 14px;
            text-align: left;
            color: #757575;
          }
          th {
            // background-color: #da9;
          }
          td {
            font-weight: 300;
            // background-color: #29a;
          }
          .table_row_1 {}// .table_row_1
          .table_row_2 {}// .table_row_2
          .table_row_3 {
            // th {}
            td.membership_status {
              display: flex;
              align-items: center;
              color: #212121;
              span:nth-child(1) {
                margin-right: 10px;
              }
              span:nth-child(2) {
                position: relative;
                font-size: 20px;
                font-weight: 600;
                // a {}
              }
              span:nth-child(2)::before {
                position: absolute;
                top: 0;
                right: -10px;
                display: block;
                content: "";
                overflow: hidden;
                width: 8px;
                height: 8px;
                background-color: #05c200;;
                border-radius: 100%;
              }
            }
          }// table_row_3
          .table_row_4 {}// table_row_4

          .table_row_5 {
            // th {}
            td {
              // div {}
              form {
                display: flex;
                align-items: center;
                margin-top: 10px;
                div:nth-child(1) {
                  margin-right: 10px;
                  input[type="tel"] {
                    width: 230px;
                    height: 35px;
                    border: none;
                    border: 1px solid #dadce0;
                    text-indent: 15px;
                  }
                  input[type="tel"]:focus {
                    outline: none;
                  }
                  // label {}
                }
                div:nth-child(2) {
                  button {
                    height: 38px;
                    padding: 0 20px;
                    font-size: 14px;
                    color: #fff;
                    background-color: #fea30b;
                  }
                }
              }// form 
            }// td
          }// .table_row_5
  
          .table_row_6 {
            height: 230px;
            // th {}
            td {
              form {
                div {
                  display: flex;
                  margin-bottom: 10px;
                  label {
                    width: 110px;
                    margin-right: 30px;
                    line-height: 35px;
                    // background-color: #8a1;
                  }
                  input[type="password"] {
                    width: 230px;
                    height: 35px;
                    border: none;
                    border: 1px solid #dadce0;
                    text-indent: 15px;
                  }
                  input[type="password"]:focus {
                    outline: none;
                  }
                }
                // div:nth-child(1) {}
                // div:nth-child(2) {}
                div:nth-child(3) {
                  margin-right: 0;
                }
                div:nth-child(4) {
                  position: relative;
                  margin-right: 0;
                  button {
                    position: absolute;
                    top: 0;
                    right: 134px;
                    width: 235px;
                    height: 38px;
                    padding: 0 20px;
                    font-size: 14px;
                    color: #fff;
                    background-color: #fea30b;
                  }
                }
              }
            }// td
          }// .table_row_6
        }// tbody
      }// table
    }// .membership_information_table

  }// .my_page_box_con
}

/* #myPageBox - mobile */ 
@include mobile {
  #myPageBox {
    padding: 30px 10px;

    // h2 {}
  
    .my_page_box_con {
      width: 340px;
      min-width: 340px;
      max-width: 340px;
      // background-color: #d0a;
      h3 {
        font-size: 25px;
        padding-left: 0;
        // background-color: #00a;
      }
  
      .membership_information_table {
        table {
          // max-width: 340px;
          // background-color: #d0a;


          // caption {}
    
          tbody {
            width: 340px;
            min-width: 340px;
            max-width: 340px;

            tr {
              // 여기 확인!!
              // max-width: 100px;
              // min-width: 100px;
              th, td {
                padding: 0;
                padding: 20px 5px;
                font-size: 12px;
              }
              th {
                // 여기 확인!!  
                // width: 100px;
                max-width: 70px;
                min-width: 70px;
                background-color: #fff;
              }
              td {
                max-width: 100px;
                // background-color: #0a1;
              }
            }// tr
            
            .table_row_1 {}// .table_row_1
            .table_row_2 {}// .table_row_2
            .table_row_3 {
              // th:nth-of-type(1),
              // th:nth-of-type(2) {}
              td {
                width: 240px;
              }
              td.membership_status {
                width: 240px;
                span:nth-child(1) {}
                span:nth-child(2) {
                  font-size: 15px;
                  // a {}
                }

              }
            }// table_row_3
    
            .table_row_4 {}// table_row_4
            .table_row_5 {
              // th {}
              td {
                // div {}
                form {
                  flex-direction: column;
                  align-items: initial;
                  margin-top: 5px;

                  div:nth-child(1) {
                    margin-right: 10px;
                    input[type="tel"] {
                      width: 170px;
                      height: 25px;
                      text-indent: 5px;
                    }
                    input[type="tel"]::placeholder {
                      font-size: 10px;
                    }
                  }
                  div:nth-child(2) {
                    margin-top: 5px;
                    button {
                      height: 29px;
                      padding: 0 5px;
                      font-size: 10px;
                      // color: #fff;
                      // background-color: #fea30b;
                    }
                  }
                }// form 
              }// td
            }// .table_row_5
    
            .table_row_6 {
              height: 180px;

              // th {}
              td {
                form {
                  div {
                    margin-bottom: 5px;

                    label {
                      width: 80px;
                      margin-right: 10px;
                      font-size: 10px;
                      line-height: 25px;
                      // background-color: #fff;
                    }
                    input[type="password"] {
                      width: 150px;
                      height: 25px;
                      text-indent: 5px;
                    }
                  }
                  // div:nth-child(1) {}
                  // div:nth-child(2) {}
                  // div:nth-child(3) {}
                  div:nth-child(4) {
                    button {
                      right: 4px;
                      width: 156px;
                      height: 29px;
                      padding: 0 5px;
                      font-size: 10px;
                    }
                  }
                }
              }// td
            }// .table_row_6
          }// tbody
        }// table
      }// .membership_information_table
  
    }// .my_page_box_con
  }
}


/* #myPageBox - tablet */ 
@include tablet {
  #myPageBox {
    // h2 {}
  
    .my_page_box_con {
      // h3 {}
  
      .membership_information_table {
        table {

          // caption {}
    
          tbody {
            .table_row_1 {
              th {}
              td {}
            }// .table_row_1
    
            .table_row_2 {
              th {}
              td {}
            }// .table_row_2
    
            .table_row_3 {
              div:nth-child(1) {
                th {}
                td {}
              }
              div:nth-child(2) {
                th {}
                td {
                  span:nth-child(1) {}
                  span:nth-child(2) {
                    a {}
                  }
                }
              }
            }// table_row_3
    
            .table_row_4 {
              // div {}
              div:nth-child(1) {
                th {}
                td {}
              }
              div:nth-child(2) {
                th {}
                td {}
              }
            }// table_row_4
    
            .table_row_5 {
              th {}
              td {
                div {}
                form {
                  div:nth-child(1) {
                    input {}
                    label {}
                  }
                  div:nth-child(2) {
                    button {}
                  }
                  div:nth-child(3) {}
                }// form 
              }// td
            }// .table_row_5
    
            .table_row_6 {
              th {}
              td {
                form {
                  div:nth-child(1) {
                    label {}
                    input {}
                  }
                  div:nth-child(2) {
                    label {}
                    input {}
                  }
                  div:nth-child(3) {
                    label {}
                    input {}
                  }
                  div:nth-child(4) {
                    button {}
                  }
                }
              }// td
            }// .table_row_6
          }// tbody
        }// table
      }// .membership_information_table
  
    }// .my_page_box_con
  }
  
}