@import "../common/mixin";

/* #shoppingBox - pc, desktop1, desktop2 */ 
#shoppingBox {
  padding: 100px 0;
  .shopping_box_inner {
    // margin-top: 50px;
    padding: 0 30px;

    .shopping_box_title {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        font-size: 35px;
        font-weight: 400;
        text-transform: uppercase;
      }
      p {
        order: -1;
        margin-top: 10px;
        font-weight: 400;
        color: #fea30b;
      }
    }// .shopping_box_title

    .shopping_box_con {
      padding: 10px 0;
      margin-top: 50px;
      .product_filter_conditions {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #e9e9e9;
        // background-color: #d11;
        .product_total_qty {
          font-size: 20px;
          font-weight: 600;
        }
        ul {
          display: flex;
          li {
            margin-right: 10px;
            // background-color: #da1;
            button {
              display: flex;
              width: 100%;
              height: 100%;
              padding: 5px 40px;
              line-height: 40px;
              font-size: 14px;
              font-weight: 600;
              // background-color: #2a0;
            }
          }
          // li:nth-child(1) {}
          // li:nth-child(2) {}
          // li:nth-child(3) {}
          li:nth-child(4) {
            margin-right: 0;
          }
          li.on > button {
            font-weight: 700;
            color: #fea30b;
          }
        }
      }// .product_filter_conditions

      .product_list {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        width: auto;
        // max-width: 1300px;
        height: auto;
        min-height: 500px;
        // background-color: #391;
        // <Item />
      }// .product_list
    }// .shopping_box_con

    .event_info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 100px;
      margin-bottom: 30px;
      background-image: url("../../assets/img/shopping/event_list_bg.jpg");
      div:nth-child(1) {
        display: flex;
        flex-direction: column;
        h3 {
          font-size: 30px;
          font-weight: 500;
          color: #212121;
        }
        p {
          order: -1;
          color: #fea30b;
        }
      }
      div:nth-child(2) {
        width: 400px;
        height: 200px;
        background-image: url("../../assets/img/shopping/coupon_img01.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }// .event_info
    
  }// .shopping_box_inner
}// #shoppingBox



/* #shoppingBox - mobile */ 
@include mobile {
  #shoppingBox {
    .shopping_box_inner {
    padding: 0 10px;
  
      .shopping_box_title {
        // h2 {}
        // p {}
      }// .shopping_box_title
  
      .shopping_box_con {
        .product_filter_conditions {
          margin: 0 5px;
          // background-color: #d01;
          .product_total_qty {
            font-size: 14px;
          }
          ul {
            li {
              margin-right: 12px;
              font-size: 12px;
              // background-color: #97a;
              button {
                padding: 0;
                line-height: 50px;
              }
            }
            // li:nth-child(1) {}
            // li:nth-child(2) {}
            // li:nth-child(3) {}
            li:nth-child(4) {
              margin-right: 0;
            }
            li.on {}
          }
        }// .product_filter_conditions
        .product_list {
          width: 340px;
          // align-content: center;
          align-items: center;
          // align-self: center;
          flex-direction: column;

          // <Item />
        }// .product_list
      }// .shopping_box_con
  
      .event_info {
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
        div:nth-child(1) {
          margin-bottom: 30px;
          h3 {
            font-size: 25px;
          }
          // p {}
        }
        div:nth-child(2) {
          width: 300px;
        }
      }// .event_info
      
    }// .shopping_box_inner
  }// #shoppingBox
}


/* #shoppingBox - tablet */ 
@include tablet {
  #shoppingBox {
    .shopping_box_inner {
  
      .shopping_box_title {
        h2 {}
        p {}
      }// .shopping_box_title
  
      .shopping_box_con {
        .product_filter_conditions {
          div {}
          ul {
            li {
              button {}
            }
            // li:nth-child(1) {}
            // li:nth-child(2) {}
            // li:nth-child(3) {}
            // li:nth-child(4) {}
            li.on {}
          }
        }// .product_filter_conditions
        .product_list {
          // <Item />
        }// .product_list
      }// .shopping_box_con
  
      .event_info {
        div {}
      }// .event_info
      
    }// .shopping_box_inner
  }// #shoppingBox
}
