@import "../common/mixin";

/* #signUpBox - pc, desktop1, desktop2 */ 
#signUpBox {
  padding: 50px 0;
  margin: 30px;

  .sign_up_box_title {
    margin-bottom: 40px;
    text-align: center;
    h2 {
      font-size: 35px;
    }
    p {
      padding-top: 10px;
      color: #fea30b;
      letter-spacing: -0.025em;
    }
  }// .sign_up_box_title

  .sign_up_box_con {
    width: 450px;
    margin: auto;
    // background-color: #ee9;
    .sign_up_box_detail_1 {
      h3 {
        font-size: 20px;
        margin-bottom: 25px;
      }
      .sign_up_form {
        // background-color: #ea1;
        .required_data_part_1 {
          // background-color: #eee;
          div {
            height: 60px;
            display: flex;
            line-height: 60px;
            border: 1px solid #dadce0;
            dt {
              width: 40%;
              text-indent: 20px;
              font-size: 14px;
              color: #757575;
            }
            dd {
              width: 60%;
              input {
                width: 90%;
                border: none;
                // background-color: #d1a;
              }
              input::placeholder {
                color: #d7d7d7;
                font-size: 14px;
              }
              input:focus {
                outline: none;
              }
            }
          }// div
          div:nth-child(1) {
            margin-bottom: -1px;
          }
          div:nth-child(2) {
            margin-bottom: -1px;
          }
          // div:nth-child(3) {}
        }// .required_data_part_1

        .required_data_part_2 {
          margin-top: 20px;
          // background-color: #eee;
          div {
            dt {
              width: 40%;
              text-indent: 20px;
              font-size: 14px;
              color: #757575;
            }
            dd {
              width: 60%;
              input {
                // width: 90%;
                border: none;
                // background-color: #d1a;
              }
              input::placeholder {
                color: #d7d7d7;
                font-size: 14px;
              }
              input:focus {
                outline: none;
              }
            }
          }// div 

          div:nth-child(1),
          div:nth-child(2) {
            height: 60px;
            line-height: 60px;
            display: flex;
            border: 1px solid #dadce0;
            margin-bottom: -1px;
          }

          .phone_verification_part {
            .phone_num_check,
            .phone_verification {
              border: 1px solid #dadce0;
              margin-bottom: -1px;
              // dt {}
              dd {
                position: relative;
                // input {}
                button {
                  position: absolute;
                  top: 8px;
                  right: 8px;
                  width: 110px;
                  height: 40px;
                  font-size: 14px;
                  font-weight: 400;
                  text-align: center;
                  line-height: 40px;
                  color: #fff;
                  background: #fe980a;
                }
              }
            } 
          }// .phone_verification_part

          .gender_check_part {
            // display: none;
            display: flex;
            width: 100%;
            margin-bottom: -1px;
            line-height: 60px;
            border: 1px solid #dadce0;
            // background-color: #eae;
            dt {
              width: 30%;
              // background-color: #22a;
            }// dt
            dd.gender_options {
              display: flex;
              width: 70%;
              padding: 0 40px;
              // background-color: #39a;
              .gender_option_man, 
              .gender_option_woman {
                display: flex;
                justify-content: space-around;
                align-items: center;
                border: none;
                // background-color: #ea9;
                input {
                  width: 0;
                  height: 0;
                }
                span {
                  width: 20px;
                  height: 20px;
                  margin-right: 8px;
                  // background-color: #d14;
                  background-image: url("../../assets/img/sign_up/input_check_off.png");
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: contain;
                }
                label {
                  font-size: 14px;
                  color: #757575;
                }
              }
              .gender_option_man {
                margin-right: 20px;
              }
              // .gender_option_woman {}
              .gender_option_man span:hover, 
              .gender_option_man label:hover, 
              .gender_option_woman span:hover,
              .gender_option_woman label:hover {
                cursor: pointer;
              }
            }// dd.gender_options
          }// .gender_check_part
        }
      }
    }
    .sign_up_box_detail_2 {
      // display: none;
      padding-top: 50px;
      h3 {
        font-size: 20px;
        margin: 10px 0;
      }
      .marketing_agreement {
        position: relative;
        font-size: 13px;
        p {
          margin-bottom: 30px;
          font-weight: 400;
          color: #7b7b7b;
        }
        div {
          span {
            color: #191919;
            text-decoration: underline;
          }
        }
        .agreement_options {
          display: flex;
          margin-top: 20px;
          // background-color: #da1;
          div:nth-child(1) {
            position: relative;
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            height: 30px;
            border-radius: 20px;
            background-color: #a9b4ba;
            label {
              position: absolute;
              top: 4px;
              left: 4px;
              width: 22px;
              height: 22px;
              border-radius: 100px;
              background-color: #fff;
              input {
                width: 0;
                height: 0;
              }
            }
          }
          div:nth-child(2),
          div:nth-child(3),
          div:nth-child(4) {
            display: flex;
            height: 20px;
            margin-right: 25px;
            // background-color: #ea1;
            label {
              font-size: 14px;
              color: #757575;
              // background-color: #d0a;
              input[type="checkbox"] {
                display: none;
              }// input[type="checkbox"]
              input[type="checkbox"] + span {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 0;
                margin-right: 8px;
                vertical-align: top;
                background-image: url("../../assets/img/sign_up/input_check_off.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                // background-color: #fdf;
              }// span
            }// label
          }
          div:nth-child(4) {
            margin-right: 0;
          }
        }
      }
    }

    .sign_up_box_submit {
      // display: none;
      margin-top: 50px;
      padding-bottom: 60px;
      border-bottom: 1px solid #dadce0;

      button {
        width: 100%;
        height: 70px;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        border-radius: 10px;
        background-color: #a9b4ba;
      }
      p {
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        color: #191919;
        span {
          text-decoration: underline;
        }
      }
    }// .sign_up_box_submit

  }// .sign_up_box_con

}// #signUpBox



/* #signUpBox - mobile */ 
@include mobile {
  #signUpBox {
    margin: 30px 10px;
    .sign_up_box_title {
      h2 {}
      p {}
    }
    .sign_up_box_con {
      width: 330px;
      .sign_up_box_detail_1 {
        h3 {}
        .sign_up_form {
          .required_data_part_1 {
            div {
              dt {
                width: 35%;
                text-indent: 10px;
              }
              dd {
                width: 65%;
                input {}
              }
            }// div
            // div:nth-child(1) {}
            // div:nth-child(2) {}
            // div:nth-child(3) {}
          }
          .required_data_part_2 {
            div {
              dt {
                width: 35%;
                text-indent: 10px;
              }
              dd {
                width: 65%;
                input {}
              }
            }
            .phone_verification_part {
              .phone_num_check, 
              .phone_verification {
                dd {
                  button {
                    width: 80px;
                    font-size: 13px;
                  }
                }
              }
            }// .phone_verification_part 

            .gender_check_part {
              // dt {}
              dd.gender_options {
                padding: 0 10px;
              }
            }// .gender_check_part
          }
        }
      }
      .sign_up_box_detail_2 {
        h3 {}
        .marketing_agreement {
          p {}
          div {
            span {}
          }
          .agreement_options {
            div:nth-child(1) {
              margin-right: 10px;
              label {
                input {}
              }
            }
            // div:nth-child(2) {}
            // div:nth-child(3) {}
            // div:nth-child(4) {}
          }
        }
      }
      .sign_up_box_submit {
        button {}
        p {}
      }
    }
  }
}


/* #signUpBox - tablet */ 
@include tablet {
  #signUpBox {
    .sign_up_box_title {
      h2 {}
      p {}
    }
    .sign_up_box_con {
      .sign_up_box_detail_1 {
        h3 {}
        .sign_up_form {
          .required_data_part_1 {
            div {
              dt {}
              dd {
                input {}
              }
            }// div
            // div:nth-child(1) {}
            // div:nth-child(2) {}
            // div:nth-child(3) {}
          }
          .required_data_part_2 {
            div {
              dt {}
              dd {
                input {}
              }
            }
            // div:nth-child(1) {}
            // div:nth-child(2) {}
            // div:nth-child(3) {}
            // div:nth-child(4) {}
          }
        }
      }
      .sign_up_box_detail_2 {
        h3 {}
        .marketing_agreement {
          p {}
          div {
            span {}
          }
          .agreement_options {
            div {
              input {}
              label {}
            }
            // div:nth-child(1) {}
            // div:nth-child(2) {}
            // div:nth-child(3) {}
            // div:nth-child(4) {}
          }
        }
      }
      .sign_up_box_submit {
        button {}
        p {}
      }
    }
  }
}